<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="ConnectionDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Sampath\Desktop\THADIYA SERVAY DIPARTMENT\3 Tire Architecture\3TireArchitecture\DataLayer\Database3Tire.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>